{{ define "form" }}
<h2>Add Cocktail</h2>
<form action="/ajax/save-cocktail" method="POST" class="new_cocktail" id="new_cocktail_form">
	<label>Cocktail name:</label><br />
	<input type="text" id="cocktail_name" name="cocktail_name" class="cocktail_name" /><br />
	<div class="drinks_list">
	{{ range . }}
		<div>
			<input class="drink_checkbox" type="checkbox" name="{{.Id}}" />
			<span class="drink_name">{{ .Name }}</span>
		</div>
	{{ end }}
	</div>
	<input type="submit" id="submit" value="Create" class="submit"/>
</form>
{{ end }}