*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html
{
	font-size: 100%;
}

html,
body
{
    height: 100%;
}

body, div, a, p, ul, ol, li, table, td, th, span
{
    font-family: Purisa, Arial;
    font-weight: normal;
    color: #2f3539;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Purisa, Arial;
}

a:hover
{
	cursor: pointer;
}

a:active
{
	opacity: 0.5;
}

.clear
{
    clear: both;
    height: 0 !important;
    width: auto !important;
    border: none !important;
}

body
{
	background: #F5F5F5;
}

.main_container
{
	height: 98%;
	width: 60%;
	margin: 0 auto;
	padding-top: 2%;
}

.main_container .white_element
{
	background: #FFFFFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.header
{
	padding: 2% 3%;
	position: relative;
	margin-bottom: 2%;
}

.header .go_home_link
{
	display: inline-block;
	margin-top: 0.5%;
	font-family: Purisa;
	font-size: 28px;
	text-decoration: none;
}

.header .go_home_link:hover
{
	text-decoration: none;
	cursor: pointer;
}

.content
{
	height: 90%;
	margin-top: 2%;
}