.new_drink
{
	margin: 10px;
	width: 206px;
	height: 121px;
	padding: 62px;
	text-align: center;
}

.new_drink label
{
	display: inline-block;
	margin-bottom: 4%;
}

.new_drink input.drink_name
{
	border: 1px solid #000;
	padding: 4px;
	margin-bottom: 6%;
}

.new_drink input.submit
{
	padding: 2px;
	height: 22%;
	width: 34%;
	font-family: Purisa, Arial;
}

.new_drink input.submit:hover
{
	cursor: pointer;
}